<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="#">EduBox</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav navbar-left">
      <li id="IN_root"><a href="IN/index.html">Informatica</a></li>
      <li id="AA_root"><a href="AA/index.html">Aardrijkskunde</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
